<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:replace="~{fragments/header :: header}"></th:block>

<h2>Корзина</h2>

<table>
    <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Итого</th>
        <th>Действия</th>
    </tr>

    <tr th:each="item : ${items}">
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.product.price}"></td>
        <td th:text="${item.total}"></td>

        <td>
            <form th:action="@{'/cart/removeOne/' + ${item.product.id}}" method="post">
                <button>-</button>
            </form>

            <form th:action="@{'/cart/add/' + ${item.product.id}}" method="post">
                <button>+</button>
            </form>

            <form th:action="@{'/cart/removeAll/' + ${item.product.id}}" method="post">
                <button>Удалить</button>
            </form>
        </td>
    </tr>
</table>

<h3>Сумма: <span th:text="${total}"></span> $</h3>

<br>

<form th:action="@{/order/checkout}" method="get">
    <button type="submit">Оформить заказ</button>
</form>

</body>
</html>
