<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head('Вход в систему')}"></head>
<body>

<th:block th:replace="~{fragments/header :: header}"></th:block>

<div class="ks-container">
    <div class="ks-card" style="max-width: 400px; margin: 40px auto;">
        <h1 class="ks-page-title" style="text-align:center;">Вход</h1>

        <form th:action="@{/login}" method="post">

            <div class="mb-3">
                <label>Логин</label>
                <input type="text" name="username"/>
            </div>

            <div class="mb-3">
                <label>Пароль</label>
                <input type="password" name="password"/>
            </div>

            <div style="text-align:center;">
                <button type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>